@import "tailwindcss";
@source "../views";
@plugin "daisyui";

@theme {
    --font-roboto: "Roboto", "sans-serif";
    --font-poppins: "Poppins", "sans-serif";
    --font-audiowide: "Audiowide", "sans-serif";

    --color-grf-primary: #006db7;
    --color-grf-secondary: #ffbf00;
}
